div{
background-color: darkgrey ;
border-radius:10px;
position:absolute;
left:35%;
top:20%;
padding: 30px;
box-shadow:3px 3px 12px red;
}
h3{
font-size:25px;
color:#0000cc;
}
body{
background-image:url(image3.jpeg); 
background-size: 1600px 2000px;
}
input{
font-size:15px;
color:black;
width:180px;
}
label{
font-size:21px;
color:lightyellow;
}
label:hover{
color:#336633;
box-shadow:1px 1px 3px green;
} 
button{
width:300px;
height:30px;
font-size:25px;
background:yellowgreen;
color:blue;
border-radius:7px;
}
button:hover{
color:White;
background:greenyellow;
box-shadow:2px 2px 5px yellow;
}
span{
color:red;
font-size:24px;
}